doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Woooo
    link(rel="icon" type="image/png" href="/public/stars.png")
    style.
      body {
        font-family: Arial, sans-serif;
        background: url('/public/journey.gif') no-repeat center center fixed;
        background-size: cover;
        background-color: #f0f2f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      .awaken-container {
        background-color: #fff;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
        text-align: center;
      }
      h2 {
        color: #333;
      }
  body
    .awaken-container
      h2= text
